/* To be implemented with DOM scoreboard... Later iteration
@font-face {
  font-family: 'Pixel Power';
  src: url('font/PixelPower.woff2') format('woff2'),
      url('font/PixelPower.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

img {
  position: absolute;
}

.fade-in {
  animation: fade-in 5s;
  /* background: blue; */
}

.fade-out {
  animation: fade-out 2s;
}

.button-fade-out {
  animation: fade-out 0.5s;
}

#start-btn {
  position: absolute;
  top: 60%;
  height: 3em;
  width: auto;
  font-size: 2em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  color: red;
  border: 0.2em solid red;
  background-color: black;
  border-radius: 0.2em;
  padding: 1em 2em 2em 2em;
}

#game-over {
  position: absolute;
  display: none;
}

.game-over {
  animation: fade-in 2s;
}
